
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define a custom keyframe animation */
@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(8px); }
  50% { transform: translateX(-8px); }
  75% { transform: translateX(8px); }
  100% { transform: translateX(0); }
}

.shake-animation {
  animation: shake 0.5s ease-in-out;
}

.animate-in {
  animation: fadeIn 0.2s ease-out;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 0.2s ease-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/*
 * Custom scrollbar 
 */

/* width */
::-webkit-scrollbar {
  width: 7px;
  height: 5px; /* Set height for horizontal scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0084fff2;
  border-radius: 5px;
  height: 5px; /* Set height for the scrollbar thumb */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0085ff;
}

* {
  box-sizing: border-box;
}
  
